body{
    background-image: url("/odd2016/image/winter-back.jpg");
}
th{
    background: linear-gradient(#05FBFF, #1E00FF);
    color: white;
}
tbody{
    background-color: white;
}
#ski_table{
    margin-top: 30px;
}